@media screen and (max-width: 1200px) {
	.header_container{

		display: flex;
		margin: 20px;
		width: 90%;
		height: 30px;

		.container{
			width: auto;
		}

	}
}
@media screen and (min-width: 1201px) {
	.header_container{
		width: 100%;
		display: flex;
		flex-wrap: wrap-reverse;
		.header_top{
			position: relative;
			max-width: 1011px;
		    display: flex;
		    flex-wrap: wrap;
		    justify-content: center;
		    margin-top: 20px;
		    margin-bottom: 20px;
		}
		.header_logo{
			margin: auto;
			left: 0;
			right: 0;
		}
	}

}